// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

/* 例: ドロップダウンのデフォルトの三角を消す */
.navbar .dropdown-toggle::after {
  content: none;
}

/* 例: トグルアイコン（bars）に合わせてちょっと余白調整したい場合 */
.navbar-toggler .fa-bars {
  line-height: 1;
}

.table-fixed {
  table-layout: fixed;
  width: 100%;
}

.td-ellipsis {
  max-width: 220px;      /* PC */
  overflow: hidden;
}

.td-ellipsis .line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 992px){
  .td-ellipsis { max-width: 160px; }
}
@media (max-width: 576px){
  .td-ellipsis { max-width: 120px; }
}